header {
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    background-color: #ffffff;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    /* background: #ffffff url('../images/logo.png') 20px center no-repeat; */
}